#header {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: url(./images/download.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    overflow: hidden;
    border-right: 2px solid white;
   
}
#header li {
    float: right;
    justify-items: initial;
     padding: 15px;

}
#header a{
    text-decoration: none;
    color: white;
    display: inline;
    padding: 14px 16px;
    }
#header .one:hover{
    border-bottom: 2px solid white;
}
#header .two:hover{
    border-bottom: 2px solid red;
}
#header .three:hover{
    border-bottom: 2px solid yellow;
}
#header .four:hover{
    border-bottom: 2px solid rgb(34, 31, 188);
}
#header .five:hover{
    border-bottom: 2px solid rgb(34, 31, 188);
}
#header .six:hover{
    border-bottom: 2px solid green;
}
#header .seven:hover{
    border-bottom: 2px solid rgb(34, 31, 188);
}
#header .eight:hover{
    border-bottom: 2px solid purple;
}
.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 8px 15px;
    /* border: 2px solid black; */
}
.section section:nth-of-type(1){
    grid-area: 1/1/2/4;
}
.section section:nth-of-type(2){
    grid-area: 3/1/5/2;
    background-image: url(./images/levi-meir-clancy-LheHIV3XpGM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
}
.section section:nth-of-type(3){
    grid-area: 3/2/4/3;
    background-image: url(./images/stale-grut-f5MWSw11jjo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section section:nth-of-type(4){
    grid-area: 4/2/5/3;
    background-image: url(./images/u\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section section:nth-of-type(5){
    grid-area: 3/3/4/4;
    background-image: url(./images/mansi-gujarathi-V3mpT14jEmM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section section:nth-of-type(6){
    grid-area: 4/3/5/4;
    background-image: url(./images/u\ \(8\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section section:nth-of-type(7){
    grid-area: 2/1/3/4;
    padding-top: 100px;
}
/* this is welcome to bbc and date */
#texttwo{
    float: right;
    margin-right: 15px;
    font-weight: 500;
    color: rgba(154, 153, 153, 0.852);
}
#textone{
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}
/* this is styling of the text news in grid 2 */
#texti {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 3px solid red;
    font-size: larger;
    margin-left: 5px;
}

.section h3{
   
}
.section #num2{
    padding-top: 14em;
}

.sectionii {
    display: grid;
    grid-template-columns: repeat(4, 1fr, 200px);
    grid-template-rows: repeat(10, 200px);
    gap: 8px 15px;
    /* border: 2px solid black; */
   }

.sectionii section:nth-of-type(1) {
    grid-area: 2/1/3/2;
    background-image: url(./images/stale-grut-f5MWSw11jjo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(2) {
    grid-area: 2/2/3/3;
    background-image: url(./images/british-library-GQ5ELi84owE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(3) {
    grid-area: 2/3/3/4;
    background-image: url(./images/freestocks-9UVmlIb0wJU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
.sectionii section:nth-of-type(4) {
    grid-area: 1/1/2/4;
    height: 5px;
    padding-top: 150px;
    margin-left: 10px;
}
.sectionii section:nth-of-type(5) {
    grid-area: 3/1/4/2;
    
}
.sectionii section:nth-of-type(6) {
    grid-area: 3/2/4/3;
    
}
.sectionii section:nth-of-type(7) {
    grid-area: 3/3/4/3;
}
.sectionii section:nth-of-type(8) {
    grid-area: 4/1/5/4;
    padding-top: 150px;
    margin-left: 10px;
}
.sectionii section:nth-of-type(9) {
    grid-area: 5/1/6/2;
    background-image: url(./images/u\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(10) {
    grid-area: 5/2/6/3;
    background-image: url(./images/u\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(11) {
    grid-area: 5/3/6/4;
    background-image: url(./images/u\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(12) {
    grid-area: 6/1/7/2;
}
.sectionii section:nth-of-type(13) {
    grid-area: 6/2/7/3;
}
.sectionii section:nth-of-type(14) {
    grid-area: 6/3/7/4;
}
.sectionii section:nth-of-type(15) {
    grid-area: 7/1/8/4;
    padding-top: 150px;
    margin-left: 10px;
}
.sectionii section:nth-of-type(16) {
    grid-area: 8/1/9/2;
    background-image: url(./images/u\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(17) {
    grid-area: 8/2/9/3;
    background-image: url(./images/u\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(18) {
    grid-area: 8/3/9/4;
    background-image: url(./images/u\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionii section:nth-of-type(19) {
    grid-area: 9/1/10/2;
}
.sectionii section:nth-of-type(20) {
    grid-area: 9/2/10/3;
}
.sectionii section:nth-of-type(21) {
    grid-area: 9/3/10/4;
}
.sectionii section:nth-of-type(22) {
    grid-area: 1/4/9/5;
    width: 400px;
    padding-top: 196px;
    margin-left: 10px;
}
.sectionii section:nth-of-type(23) {
    grid-area: 10/1/11/5;
    padding-top: 50px;
    margin-left: 10px;
}

.sectioniii {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 450px);
    /* border: 3px solid black;    */
}
.sectioniii section:nth-of-type(1) {
    grid-area: 1/1/2/2;
    background-image: url(./images/stale-grut-f5MWSw11jjo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sectioniv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    /* border: 3px solid black;    */
    gap: 8px 15px;
}

.sectioniv section:nth-of-type(1) {
    grid-area: 1/1/2/5;
    padding-top: 150px;
    margin-left: 10px;
} 
.sectioniv section:nth-of-type(2) {
    grid-area: 2/1/3/2;
    background-image: url(./images/u\ \(8\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
     
.sectioniv section:nth-of-type(3) {
    grid-area: 2/2/3/3;
    background-image: url(./images/u\ \(6\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.sectioniv section:nth-of-type(4) {
    grid-area: 2/3/3/4;
    background-image: url(./images/u\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.sectioniv section:nth-of-type(5) {
    grid-area: 2/4/3/5;
    background-image: url(./images/u\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.sectioniv section:nth-of-type(6) {
    grid-area: 3/1/4/2;
} 
.sectioniv section:nth-of-type(7) {
    grid-area: 3/2/4/3;
} 
.sectioniv section:nth-of-type(8) {
    grid-area: 3/3/4/4;
} 
.sectioniv section:nth-of-type(9) {
    grid-area: 3/4/4/5;
} 

.sectionv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 250px);
    gap: 8px 15px;
    /* border: 2px solid black;   */
}

.sectionv section:nth-of-type(1) {
    grid-area: 1/1/2/4;
    padding-top: 150px;
    margin-left: 10px;
}
.sectionv section:nth-of-type(2) {
    grid-area: 1/4/5/5;
   width: 450px;
}
.sectionv section:nth-of-type(3) {
    grid-area: 2/1/3/4;
    background-image: url(./images/u\ \(12\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.sectionv section:nth-of-type(4) {
    grid-area: 3/1/4/2;
    background-image: url(./images/u\ \(16\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(5) {
    grid-area: 3/2/4/3;
    background-image: url(./images/u\ \(7\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(6) {
    grid-area: 3/3/4/4;
    background-image: url(./images/u\ \(10\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(7) {
    grid-area: 4/1/5/2;
}
.sectionv section:nth-of-type(8) {
    grid-area: 4/2/5/3;
}
.sectionv section:nth-of-type(9) {
    grid-area: 4/3/5/4;
}
.sectionv section:nth-of-type(10) {
    grid-area: 5/1/6/2;
    background-image: url(./images/u\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(11) {
    grid-area: 5/2/6/3;
    background-image: url(./images/u\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(12) {
    grid-area: 5/3/6/4;
    background-image: url(./images/u\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionv section:nth-of-type(13) {
    grid-area: 6/1/7/2;
}
.sectionv section:nth-of-type(14) {
    grid-area: 6/2/7/3;
}
.sectionv section:nth-of-type(15) {
    grid-area: 6/3/7/4;
}

.sectionvi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 450px);
    /* border: 3px solid black;    */
}
.sectionvi section:nth-of-type(1) {

    grid-area: 1/1/2/2;
    background-image: url(./images/stale-grut-f5MWSw11jjo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionvii {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
    /* border: 3px solid black;  */
    gap: 8px 15px;     
}

.sectionvii section:nth-of-type(1) {
    grid-area: 1/1/2/2;
    padding-top: 210px;
    margin-left: 10px;
}
.sectionvii section:nth-of-type(2) {
   grid-area: 1/2/2/3;
   padding-top: 210px;
    margin-left: 10px;
   
}
.sectionvii section:nth-of-type(3) {
   grid-area: 2/1/3/2;
   background-image: url(./images/british-library-GQ5ELi84owE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.sectionvii section:nth-of-type(4) {
   grid-area: 2/2/3/3;
   background-image: url(./images/levi-meir-clancy-LheHIV3XpGM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.sectionvii section:nth-of-type(5) {
  grid-area: 3/1/4/2;
  padding-top: 120px;
    margin-left: 10px;
}
.sectionvii section:nth-of-type(6) {
  grid-area: 3/2/4/3;
  padding-top: 120px;
    margin-left: 10px;
}

.sectionviii {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 200px);
    /* border: 3px solid black;   */
    gap: 8px 15px;  
}

.sectionviii section:nth-of-type(1) {
    grid-area: 1/1/2/7;
}
.sectionviii section:nth-of-type(2) {
    grid-area: 2/1/3/7;
    height: 600px;
    background-image: url(./images/duncan-kidd-Cju-BkSkM1k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionviii section:nth-of-type(3) {
    grid-area: 3/1/4/7;
}
.sectionviii section:nth-of-type(4) {
    grid-area: 4/1/5/2;
    background-image: url(./images/ux-gun-5Mj4PO7KIFc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionviii section:nth-of-type(5) {
    grid-area: 4/2/5/3;
}
.sectionviii section:nth-of-type(6) {
    grid-area: 4/3/5/4;
    background-image: url(./images/british-library-GQ5ELi84owE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionviii section:nth-of-type(7) {
    grid-area: 4/4/5/5;
}
.sectionviii section:nth-of-type(8) {
    grid-area: 4/5/5/6;
    background-image: url(./images/u\ \(12\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionviii section:nth-of-type(9) {
    grid-area: 4/6/5/7;
}

.sectionix {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    /* border: 3px solid black;    */
}

.sectionix section:nth-of-type(1){
    grid-area: 1/1/2/2;
}

.sectionx {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    /* border: 3px solid black;   */
    gap: 8px 15px;
}

.sectionx section:nth-of-type(1) {
    grid-area: 1/1/2/4;
}
.sectionx section:nth-of-type(2) {
    grid-area: 2/1/7/2;
    width: 450px;
}
.sectionx section:nth-of-type(3) {
    grid-area: 2/2/3/4;
    background-image: url(./images/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}
.sectionx section:nth-of-type(4) {
    grid-area: 3/2/4/3;
    background-image: url(./images/duncan-kidd-Cju-BkSkM1k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(5) {
    grid-area: 3/3/4/4;
    background-image: url(./images/ux-gun-5Mj4PO7KIFc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(6) {
    grid-area: 4/2/5/3;
}
.sectionx section:nth-of-type(7) {
    grid-area: 4/3/5/4;
}
.sectionx section:nth-of-type(8) {
    grid-area: 5/2/6/3;
    background-image: url(./images/freestocks-9UVmlIb0wJU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(9) {
    grid-area: 5/3/6/4;
    background-image: url(./images/levi-meir-clancy-LheHIV3XpGM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(10) {
    grid-area: 6/2/7/3;
}
.sectionx section:nth-of-type(11) {
    grid-area: 6/3/7/4;
}
.sectionx section:nth-of-type(12) {
    grid-area: 3/4/4/5;
    background-image: url(./images/philipp-pilz-iQRKBNKyRpo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(13) {
    grid-area: 4/4/5/5;
}
.sectionx section:nth-of-type(14) {
    grid-area: 5/4/6/5;
    background-image: url(./images/tamara-bellis-Brl7bqld05E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionx section:nth-of-type(15) {
    grid-area: 6/4/7/5;
}


.sectionxi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 350px);
    /* border: 3px solid black; */
    gap: 8px 15px;  
}

.sectionxi section:nth-of-type(1) {
    grid-area: 1/1/2/2;
    padding-top: 305px;
    margin-left: 5px;
}
.sectionxi section:nth-of-type(2) {
    grid-area: 1/2/2/3;
    padding-top: 305px;
    margin-left: 5px;
}
.sectionxi section:nth-of-type(3) {
    grid-area: 2/1/3/2;
    background-image: url(./images/linkedin-sales-solutions-IjkIOe-2fF4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionxi section:nth-of-type(4) {
    grid-area: 2/2/3/3;
    background-image: url(./images/philipp-pilz-iQRKBNKyRpo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.sectionxii {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 350px);
    /* border: 3px solid black;  */
    gap: 8px 15px;  
}

.sectionxii section:nth-of-type(1) {
    grid-area: 1/1/2/3;
    padding-top: 305px;
    margin-left: 10px;
}
.sectionxii section:nth-of-type(2) {
    grid-area: 2/1/3/2;
    background-image: url(./images/tamara-bellis-Brl7bqld05E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionxii section:nth-of-type(3) {
    grid-area: 2/2/3/2;
    background-image: url(./images/u\ \(16\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.sectionxiii {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    /* border: 3px solid black;    */
    gap: 8px 15px;
}

.sectionxiii section:nth-of-type(1) {
    grid-area: 1/1/2/2;
    background-image: url(./images/u\ \(12\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionxiii section:nth-of-type(2) {
    grid-area: 1/2/2/3;
    background-image: url(./images/u\ \(10\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionxiii section:nth-of-type(3) {
    grid-area: 1/3/2/4;
    background-image: url(./images/u\ \(7\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sectionxiii section:nth-of-type(4) {
    grid-area: 2/1/3/2;
}
.sectionxiii section:nth-of-type(5) {
    grid-area: 2/2/3/2;
}
.sectionxiii section:nth-of-type(6) {
    grid-area: 2/3/3/4;
}


.sectionxiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 400px);
    /* border: 3px solid black;    */
}

.sectionxiv section:nth-of-type(1) {
    grid-area: 1/1/2/2;
}

.sectionxv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 400px);
    /* border: 3px solid black;    */
    background-color:  rgba(67, 65, 65, 0.92);
}

.sectionxv section:nth-of-type(1) {
    grid-area: 1/1/2/2;
}

.gg{
    border-left: 4px solid green;
}
.ggg {
    border-left: 4px solid blue; 
}
.gggg {
    border-left: 4px solid yellow;
}
.g5 {
    border-left: 4px solid purple;
}
.g4 {
    border-left: 4px solid yellow;
}
.g3 {
    border-left: 4px solid red;
}

.htt{
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid red;
}
.hti {
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid green;
}
.htii {
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid purple;
}
.africa {
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid red;
}
.ti {
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid lime;
}

.till {
    padding-top: 50px;
    border: none;
}
.ttf{
    font-size: small;
    border-left: 3px solid purple;
    color: rgba(67, 65, 65, 0.92);
   
}
.ttfi{
    font-size: small;
    border-left: 3px solid lime;
    color: rgba(67, 65, 65, 0.92);
    
}
.ttp {
   
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid red;
}
.ttr {
    font-size: small;
    color: rgba(67, 65, 65, 0.92);
    border-left: 3px solid yellow;
}
#ttr {
    font-weight: 600;
}
.alpha {
    font-size: large;
}
.trt{
    font-size: larger;
}
.trrt{
    font-size: larger;
    
}
#ad {
    font-size: small;
    margin-left: 270px;
    color: rgba(67, 65, 65, 0.92)
}
#ad1{
   font-size: small;
   color: rgba(67, 65, 65, 0.92);
   text-align: right;
   margin-right: 30px;
   }
#numm{
    border-left: 3px solid green;
}